@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.App {
  font-family: 'Oleo Script', cursive;
  text-align: center;
  height: 81.3vh;
  background-image: url(./images/back2.png);
  background-size: cover;
  opacity: .8;
  margin-top: 80px;
  padding: 30px;
  overflow: hidden;
}

.navbar {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  box-shadow: 0 0 20px 0 black;
}

.navbar * {
  display: inline;
}

.linklist {
  position: absolute;
  right: 10px; top: 10px; 
}

.linklist * {
  color: white;
  text-decoration: none;
  margin: 10px;
}

.logo {
  font-family: 'Vollkorn', serif;
  position: absolute;
  left: 10px; top: 10px;
  color: white;
  margin: 10px;
  border: 1px solid white;
  border-radius: 50px;
  padding: 6px;
  padding-bottom: 5px;
}

.logospan {
  color: red;
}

.slider {
  font-family: 'Vollkorn', serif;
  margin-left: 40px;
  margin-right: 40px;
  padding: 5px;
  border: none;
  border-top: 3px solid red;
}

.card {
  overflow: hidden;
  font-size: 15px;
  height: 250px;
  color: black;
}

a {
  color: black;
}

.group { 
  position: relative;
  width: 98%;
  margin-bottom:45px;
  top: 130px;
  position: absolute;
}

.search-header {
  font-family: 'Vollkorn', serif;
  position: absolute;
  left: 15px; right: 0;
  top: 70px;
}

input {
  font-size:20px;
  padding: 10px 10px 10px 5px;
  border: none;
  border-bottom:1px solid black;
  background: transparent;
}

label {
  position: absolute;
  top: 55px;
  left: 0;
  right: 0;
  color:black; 
  font-size:20px;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}

input:focus ~ label {
  top:60px;
  font-size:14px;
  color:red;
}

p {
  margin-left: 200px;
  margin-right: 200px;
  font-size: 25px;
  font-family: 'Vollkorn', serif;
  margin-bottom: 50px;
  color: black;
  font-weight: bold;
  border: hidden;
  border-left: 2px solid black;
  border-right: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.search-results {
  margin: auto;
  margin-top: 150px;
  font-family: 'Vollkorn', serif;
}

.search-result-titles {
  margin: 20px;
}

img {
  border: 2px solid red;
  margin: auto;
  height: 90px;
}






